@use "../utility/breakpoints" as b;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  --color-anchor: $color-primary;
  --font-weight-strong: #{$font-weight-strong};

  --color-primary: #dab170;
  --color-primary-alt: #f5f496;
  --color-secondary: #65b753;
  --color-paper: #f5f4eb;
  --color-paper-text: #2b2b2a;

  --color-postit-yellow: #fff68b;
  --color-postit-green: #cdfc93;
  --color-postit-purple: #ce81ff;
  --color-postit-blue: #71d7ff;

  --color-polaroid-bg: #383e3f;
  --color-polaroid-bg-top: #667275;

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }
}

body {
  @include b.sbreak {
    padding: 2rem;
  }
}