@use "../utility/shadows" as s;
@use "../utility/breakpoints" as b;
@use "../utility/pushpin" as pin;
@use "../utility/polaroid" as picture;
@use "../utility/paper" as paper;

// Base styles (mobile first)
body {
    background-image: url("/img/corkboard.jpg");
}

@mixin postit() {
    padding: 20px;
    font-family: "Permanent Marker", serif;
    background: linear-gradient(to bottom, #e9d83e, #ffff8d);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: s.$postit-shadow;
}

@mixin format {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr; 
    justify-content: center;
    align-content: center;
}

@mixin little_sticky {
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 0, 179);
    box-shadow: s.$paper-shadow-small;
    margin: 5px;
}

main {
    section {
        @include postit;
    }
    .container {
        margin: 20px 0px;
        padding: 20px;
    }
}
@mixin purple_sticky{
    text-decoration: none;
    color: var(--color-paper-text);
    box-shadow: s.$paper-shadow-small;
    display: inline-block;
    text-decoration: none;
    padding: .2em;
    margin: 2px;
    background-color: var(--color-postit-purple);
    
    &:hover {
        transform: rotate(2deg);
    }
}
// links
 main section, article, aside {
    a {
        @include purple_sticky;
    }
}

// Base layout (mobile)
article:nth-child(1){
    section:nth-child(1) {
        @include pin.pushpin(60px);
        grid-column: 1/8;
        transform: rotate(3deg);
    }
    section:nth-child(2) {
        grid-column: 2/8;
        transform: rotate(-3deg);
        @include paper.paper(5rem);
        @include pin.pushpin(60px);

        > p {
            margin-top: .5em;
            margin-bottom: 1.5em;
        }
    }
}

article:nth-child(2){
    section:nth-child(1) {
        grid-column: 1/8;
        transform: rotate(2deg);
    }
}

article:nth-child(3){
    section:nth-child(1) {
        @include pin.pushpin(60px);
        grid-column: 3/8;
        transform: rotate(-3deg);
    }
    section:nth-child(2) {
        grid-column: 1/7;
        transform: rotate(3deg);
    }
    #files {
        grid-column: 2/6;
        grid-row: 3;
        transform: rotate(-2deg);

        > div.container {
            @include pin.pushpin(60px);
            @include picture.polaroid;

            > a {
                @include little_sticky;
            }
        }
    }
}

aside .container:nth-child(1) {
    @include postit;
    grid-column: 3/7;
    grid-row: 1;
    transform: rotate(2deg);
}

#styles div {
    grid-column: 3/8;
    grid-row: 2;
    transform: rotate(-2deg);
}

main #about {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start; 
    }
    
    li { 
        @include little_sticky;
        list-style: none;
    }
}

/* Small breakpoint */
@include b.sbreak{
    article:nth-child(1){
        section:nth-child(1) {
            transform: rotate(5deg);
        }
        section:nth-child(2) {
            transform: rotate(-5deg);
        }
    }
    article:nth-child(2){
        section:nth-child(1) {
            transform: rotate(5deg);
        }
    }
    article:nth-child(3){
        section:nth-child(1) {
            transform: rotate(-5deg);
        }
        section:nth-child(2) {
            transform: rotate(5deg);
        }
        footer {     
            transform: rotate(-5deg);
        }
    }
    aside .container:nth-child(1) {
        transform: rotate(5deg);
    }
    #styles div {
        transform: rotate(-5deg);
    }
}

/* Medium breakpoint */
@include b.mbreak{
    // Apply grid layout to articles and aside
    article:nth-child(1),
    article:nth-child(2),
    article:nth-child(3),
    aside {
        @include format;
    }
    
    article:nth-child(1){
        section:nth-child(1) {
            grid-column: 2/8;
        }
    
        section:nth-child(2) {
            grid-column: 1/7;
            grid-row: 2;
            @include paper.paper(5rem);

            > p {
                margin-top: .15em;
                line-height: 1.7rem;
            }

            > h2 {
                margin-top: .2em;
            }
        }
    }
    
    article:nth-child(2) {
        section:nth-child(1) {
            grid-column: 2/8;
        }
    }
    
    article:nth-child(3){
        section:nth-child(1) {
            grid-column: 3/7;
        }
    
        section:nth-child(2) {
            grid-column: 1/8;
            grid-row: 2;
        }

        footer {    
            justify-items: center;
            align-items: center;  
            grid-column: 3/6;
            padding: 0px;
    
            h3 {
                padding: 10px;
            }
        }
    }
    
    footer {
        padding: 30px 10px 10px 10px;
    }
    
    aside .container:nth-child(1) {
        margin-bottom: 20px;
        justify-items: center;
        align-items: center; 
        transform: rotate(-1deg);
    }

    #styles div {
        @include postit;
        margin-bottom: 20px;
        grid-column: 2/6;
    }
}

/* Large breakpoint */
@include b.lbreak{
    article:nth-child(1){
        section:nth-child(1) {
            grid-column: 2/5;
        }
    
        section:nth-child(2) {
            grid-column: 4/8;

            @include paper.paper(4rem);

            > p {
                line-height: 1.7rem;
                margin-top: 1em;
            }
            > h2 {
                margin-top: .25em;
            }
        }
    }
    
    article:nth-child(2) {
        section:nth-child(1) {
            grid-column: 3/7;
        }
    }
    
    article:nth-child(3){
        section:nth-child(1) {
            grid-column: 3/5;
        }
    
        section:nth-child(2) {
            grid-column: 1/4;
        }
    }
    
    aside .container:nth-child(1) {
        grid-column: 5/7;
        transform: none;
    }
    
    #styles div {
        grid-column: 4/6;
    }
}