@use "../utility/shadows" as s;
@use "../utility/tape" as t;

.link-github {
    display: inline-block;
    background-color: var(--color-paper);
    padding: .5rem;
    text-decoration: none;
    color: var(--color-paper-text);
    box-shadow: s.$paper-shadow-small;

    svg {
        width: 1em;
        transform-origin: center;
        transition: all 1.5s ease;
        margin-bottom: -2px;
        
        > path {
            fill: var(--color-paper-text);
        }
    }

    &:hover {
        background-color: var(--color-postit-yellow);

        svg {
            transform: rotate(215deg);
        }
    }

    @include t.taped(1.5);
}