@use "../utility/tape" as t;
@use "../utility/paper" as p;
@use "../utility/shadows" as s;

header {
    @include p.paper;
    transform: rotate(-2deg);
    padding-top: 4.5rem;

    box-shadow: s.$paper-shadow;

    > .container {
        > h1 {
            margin-top: 0em;
            padding-top: 0;
        }

        > h2 {
            font-weight: 100;
            line-height: 1.1em;
        }

        > p {
            > a {
                color: var(--color-paper-text);
                box-shadow: s.$paper-shadow-small;
                display: inline-block;
                text-decoration: none;
                padding: .2em;

                &:first-child {
                    transform: rotate(-2deg);
                    background-color: var(--color-postit-green);
                }

                &:nth-child(2) {
                    transform: rotate(2deg);
                    background-color: var(--color-postit-yellow);
                }

                &:hover {
                    transform: rotate(0deg);
                }
            }
        }
    }
}