@mixin sbreak() {
    @media (min-width: 550px) { @content; }
    h1, h2, h3 {
        font-family: "permanent marker", "serif";
    }
    
    p, a, li {
        font-family: "Baloo", "serif";
        font-size: 12px;
    }

    
    article{
        @include format;
        section:nth-child(1) {
            grid-column:1/8 ;
            transform: rotate(5deg)
        }
    }
}


@mixin lbreak() {
    @media (min-width: 800px) { @content; }
}