@mixin pushpin($size) {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: calc((#{$size} / 3) * -1);
        right: calc((#{$size} / 2) * -1);
        width: $size;
        height: $size;
        background-image: url('/img/push-pin.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}