:root {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
}

@mixin taped($size) {
    position: relative;

    &::before, &::after {
        content: "";
        transform: rotate(45deg);
        right: calc(-2vmin * $size);
        top: 0;
        width: calc(5vmin * $size);
        height: calc(2vmin * $size);
        position: absolute;
        background-color: var(--tape-gray);
        opacity: 0.5;
        border-right: 1px dotted var(--tape-edge-gray);
        border-left: 1px dotted var(--tape-edge-gray);
    }

    &::after {
        transform: rotate(-45deg);
        left: calc(-2vmin * $size);
    }
}